@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    background: var(--bg-color);
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    height: 830vh;
    overflow: scroll;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.hidden{
    opacity: 0;
    transition: all 3s;
}

.show{
    opacity: 1;
}

:root{
    --bg-color:#fff;
    --txt-color:#000;
     transition: .5s;
}

.dark{
    --bg-color:rgb(7, 1, 27);
    --txt-color:#fff;
    transition: .5s;
}

#menu{
    visibility: hidden;
}

.mobilemenu{
    position: absolute;
    background: white;
    box-shadow: 2px 2px 2px 2px rgba(225,225, 225, 0.08);
    margin-top: 100px;
    height: 300px;
    line-height: 80px;
    width: 200px;
    text-align: center;
    visibility: hidden;
}
.menu{
    color: var(--txt-color);
}

.darkmode{
    position: absolute;
    margin-left: 1100px;
    margin-top: -40px;
    color: var(--txt-color);
}

.logo{
    margin-left: 40px;
    font-size: 25px;
}

ul{
    display: flex;
    margin-left: 500px;
}

li{
    list-style: none;
    margin-left: 60px;
    margin-top: -30px;
    cursor: pointer;
}

li:hover{
    color:#4af
}

#page1{
    margin-left: 80px;
    color: var(--txt-color);
    height: 100vh;
}

.h1{
    font-size: 50px;
    width: 500px;
    color:var(--txt-color);
    margin-top: 100px;
}

#img1{
    float: right;
    margin-top: -300px;
    margin-right: 60px;
}

.p1{
    width: 400px;
    color:var(--txt-color);
}

.btn{
    width: 200px;
    height: 60px;
    border-radius: 20px;
    border: none;
    margin-top: 30px;
    background: #4af;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

#page2{
    height: 100vh;
    margin-left: 70px;
    margin-top: 50px;
    color:var(--txt-color);
}

.imgx{
    float: right;
}

h1{
    color:var(--txt-color);
}

.p2{
    width: 400px;
    color:var(--txt-color);
}

#page3{
    height: 100vh;
    margin-left: 70px;
    margin-top: 0px;
    color:var(--txt-color);
}

#img3{
    margin-top: -100px;
}

.page3txt{
    float: right;
    margin-right: 60px;
    color:var(--txt-color);
}

#page4{
    height: 100vh;
    margin-left: 70px;
    margin-top: 50px;
}

#page5{
    height: 30vh;
    text-align: center;
    margin-top: -70px;
    background: rgb(7, 1, 27);
    color: #fff;
    padding-top: 20px;
}

.h5{
    color: #fff;
}

#page6{
    height: 100vh;
    color:var(--txt-color);
    margin-top: 160px;
    text-align: center;
}

.p3{
    width: 1000px;
    text-align: center;
    margin-left: 110px;
}

#imglogo{
    width: 300px;
    height: 300px;
}

.img{
    display: flex;
    justify-content: space-around;
}

.img2{
    display: flex;
    justify-content: space-around;
}

#page7{
    height: 100vh;
    margin-left: 70px;
    margin-top: 180px;
    color:var(--txt-color);
}

#page8{
    height: 30vh;
    margin-left: 60px;
    margin-top: 70px;
    color:var(--txt-color);
}

input{
    width:400px;
    height: 40px;
    border-radius: 15px;
    border:1px solid #4af ;
}

input:focus{
    border-radius: 15px;
}

::placeholder{
    font-family: 'Poppins', sans-serif;
}

.bbn{
    width:100px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background: #4af;
    color: #fff;
    margin-left: -115px;

}

#page9{
    background:rgb(7, 1, 27) ;
    height: 70vh;
    margin-top: 150px;
    color:#fff;
    padding-top: 20px;
}

.li{
    line-height: 90px;
    font-size: 14px;
}

.li:hover{
    color: #4af;
}

.footertxt{
    margin-left: 400px;
    margin-top: -415px;
}

.footertxt1{
    margin-left: 800px;
    margin-top: -355px;
}

.footerh1{
    font-size: 20px;
    margin-left: 30px;
    color: #4af;
}

@media only screen and (max-width:770px){
    ul{
        display: none;
    }

    .logo{
        font-size: 14px;
    }

    #menu{
        visibility: visible;
        margin-left:240px;
        margin-top: -27px;
        position: absolute;
        color: var(--txt-color);
    }

    .mobilemenu{
    position: absolute;
    background: white;
    box-shadow: 2px 2px 2px 2px rgba(225,225, 225, 0.08);
    margin-top: -500px;
    height: 200px;
    line-height: 80px;
    width: 200px;
    text-align: center;
    visibility: visible;
    transition: all linear .5s;
    margin-left: 110px;
    border-radius: 6px;
    background: var(--bg-color);
    color: var(--txt-color);
}

li{
    margin-left: 0;
    padding-top: 5px;
}

.openMenu{
    margin-top: 70px;
    z-index: 10;
}

    .darkmode{
        margin-left: 200px;
        position: absolute;
        padding-top: 10px;
    }

    #page1{
        margin-left: 50px;
    }

    .h1{
        font-size: 20px;
        width: 200px;
        margin-left: 0;
    }

    #img1{
        width:200px;
        margin-top: 230px;
       position: absolute;
    }

    .btn{
        margin-top: 170px;
        height: 30px;
    }

    .p1{
        width: 200px;
        margin-top: 20px;
        position: absolute;

    }

    #page2{
        margin-left: 50px;
    }

    h1{
        width: 200px;
    }

    .p2{
        width:200px;
    }

    .imgx{
        margin-top: -200px;
        margin-right: 60px;
        position: absolute;
    }

    #page3{
        margin-left: 50px;
        height: 60vh;
    }

    #img3{
        width: 200px;
        margin-top: 350px;
        position: absolute;
    }

    #page4{
        margin-left: 50px;
        height: 60vh;
        margin-top: 270px;
    }

    #page5{
        margin-left: 0px;
        height: 60vh;
        margin-top: 200px;
        background: var(--bg-color);
        width: 270px;
        color: var(--txt-color);
    }

    .h5{
        color: var(--txt-color);
    }

    #page6{
        margin-left: 50px;
        height: 60vh;
        margin-top: 200px;
    }

    .p3{
        width: 200px;
        margin-left: 0px;
        position: absolute;
    }

    .img{
        display: flex;
        flex-direction: column;
      margin-left: 0px;
       margin-top: 160px;
    }

    #imglogo{
        width:200px;
        margin-top: -20px;
    }

    .img2{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: -70px;
    }

    #page7{
        margin-top: 1300px;
        margin-left: 50px;
    }

    input{
        width: 250px;
        margin-left: -50px;
        font-size: 10px;
    }

    #page9{
        width: 200px;
        background: var(--bg-color);
        color: var(--txt-color);
        margin-left: 20px;
    }

    .footerh1{
        color: var(--txt-color);
    }

    .footertxt{
        display: none;
        color: var(--txt-color);
    }

    .footertxt1{
        display: none;
    }

    



}


